AUTHENTIK_COOKIE_DOMAIN = ${DOMAIN}
AUTHENTIK_EMAIL__PASSWORD = PASSWORD
AUTHENTIK_EMAIL__USERNAME = USERNAME@${DOMAIN}
AUTHENTIK_ERROR_REPORTING__ENABLED = false
AUTHENTIK_POSTGRESQL__HOST = authentik-postgres
AUTHENTIK_POSTGRESQL__NAME = DATABASE
AUTHENTIK_POSTGRESQL__PASSWORD = PASSWORD
AUTHENTIK_POSTGRESQL__USER = USER
AUTHENTIK_REDIS__HOST = authentik-redis
AUTHENTIK_REDIS__PASSWORD = CHANGE_ME
AUTHENTIK_SECRET_KEY = KEY
